# Compiled class files #
*.class

# Log files #
*.log

# Package files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ files #
.idea
*.iml

# Eclipse files #
.metadata
.project
.classpath
.settings
.springBeans

# OSX system #
.DS_Store

# Output directories #
bin
build
target
lib
_site
activemq-data

# All the rest #
*#
*.ipr
*.iws
*.sw?
*~
.#*
.*.md.html
MANIFEST.MF
manifest.yml
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
overridedb.*
